# Dependências
node_modules/

# Artefatos gerados pelo Cypress
cypress/screenshots/
cypress/videos/
cypress/downloads/

# Logs
*.log
npm-debug.log*

# Sistema operacional
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Ferramentas locais
.claude/
